{
    "presets": [
        [
            "@babel/env",
            {
                "useBuiltIns": "usage"
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [["@babel/plugin-transform-typescript", { "isTSX": true }], ["@babel/plugin-proposal-decorators", { "legacy": true }], ["@babel/plugin-proposal-class-properties", { "loose": true }]]
}
