{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": ["airbnb", "airbnb/hooks", "plugin:@typescript-eslint/eslint-recommended", "prettier"],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": ["@typescript-eslint"],
    "rules": {
        "camelcase": "off",
        "no-console": 0,
        "no-plusplus": 0,
        "prefer-destructuring": 0,
        "radix": 0,
        "array-callback-return": 0,
        "no-unused-vars": 0,
        "no-param-reassign": 0,
        "class-methods-use-this": 0,
        "max-classes-per-file": 0,
        "no-useless-constructor": 0,
        "no-underscore-dangle": 0,
        "func-names": 0,
        "no-return-await": 0,
        "no-nested-ternary": 0,
        "no-use-before-define": 0,
        "no-unused-expressions": 0,
        "no-return-assign": 0,
        "default-case": 0,
        "consistent-return": 0,
        "no-shadow": 0,
        "arrow-body-style": 0,
        "react/jsx-fragments": 0,
        "react/prop-types": 0,
        "react/jsx-filename-extension": ["error", { "extensions": [".ts", ".tsx"] }],
        "jsx-a11y/no-autofocus": 0,
        "react/static-property-placement": 0,
        "react/destructuring-assignment": 0,
        "react/sort-comp": [
            1,
            {
                "order": ["static-variables", "static-methods", "instance-variables", "lifecycle", "everything-else", "render"]
            }
        ],
        "react/jsx-props-no-spreading": 0,
        "react/no-did-update-set-state": 0,
        "react/jsx-key": [2, { "checkFragmentShorthand": true }],
        "react/no-access-state-in-setstate": 0,
        "react/react-in-jsx-scope": 0,
        "react/no-array-index-key": 0,
        "react/self-closing-comp": 0,
        "react/no-deprecated": 0,
        "react/no-unescaped-entities": 0,
		"react/button-has-type": 0,
        "import/prefer-default-export": 0,
        "import/no-unresolved": 0,
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/order": 0,
        "jsx-a11y/click-events-have-key-events": 0,
        "jsx-a11y/interactive-supports-focus": 0,
        "jsx-a11y/no-static-element-interactions": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": true
            }
        ],
        "@typescript-eslint/no-shadow": ["error"]
    }
}
